@{
    ViewBag.Title = "Test View";
}

<h2>Här en en test view! </h2>
<p>infoinfoooooooo</p>
<p>Kom ihåg för att skapa en view:</p>

<table>
    <tr>
        <td>1: Namn på view</td>
    </tr>
    <tr>
        <td>2: Skapa en get och post i en metod i controller som tar dig till viewn</td>
    </tr>
    <tr>
        <td>3: Samma namn på button som namnet på controller och metod. Skriv detta i viewn som du vill gå från</td>
    </tr>
</table>

<p>Mer information här...</p>


