@model IEnumerable<Message>

<h4>Dina meddelanden</h4

	<table class="table table-striped">
    <thead>
        <tr>
            <th>Från</th>
            <th>Meddelande</th>
            <th>Skickat</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.FranUser.UserName</td>
                <td>@message.Content</td>
                <td>@message.SentTime</td>
            </tr>
        }
    </tbody>
</table>
