html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Två kolumner av lika storlek */
    grid-template-rows: auto; /* Anpassa höjden dynamiskt */
    gap: 10px; /* Mellanrum mellan cellerna */
}

.item-1 {
    grid-column: 1 / span 2; /* Sträcker sig över båda kolumnerna */
}

.item-2-1 {
    grid-column: 1; /* Första kolumnen */
}

.item-2-2 {
    grid-column: 2; /* Andra kolumnen */
}

.item-3-1 {
    grid-column: 1; /* Första kolumnen */
}

.item-3-2 {
    grid-column: 2; /* Andra kolumnen */
}

.item-4, .item-5 {
    grid-column: 1 / span 2; /* Sträck ut över båda kolumnerna */
    justify-self: center; /* Centrerar horisontellt */
    align-self: center; /* Centrerar vertikalt */
    text-align: center; /* Centrerar texten inuti blocket */
}