@model Competences


<h2>@(Model.CompetencesID == 0 ? "Skapa ny kompetens" : "Redigera kompetens")</h2>

<form asp-action="AddCompetence" asp-controller="CV" method="post">

    <div class="form-group">
        <label for="CompetenceName">Namn på kompetens:</label>
        <input asp-for="CompetenceName" class="form-control" />
        <span asp-validation-for="CompetenceName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Spara</button>
    <a asp-action="Create" asp-controller="CV" class="btn btn-secondary mt-3">Avbryt</a>
</form>