@model Education

<h3>@(Model.EducationID == 0 ? "Skapa ny utbildning" : "Redigera utbildning")</h3>

<form asp-action="AddEducation" asp-controller="CV" method="post">
    <div class="form-group">
        <label for="SchoolName">Namn på Universitet:</label>
        <input asp-for="SchoolName" class="form-control" />
        <span asp-validation-for="SchoolName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Degree">Typ av utbildning:</label>
        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="EducationStartDate">Startdatum:</label>
        <input asp-for="EducationStartDate" class="form-control" />
        <span asp-validation-for="EducationStartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="EducationEndDate">Slutdatum:</label>
        <input asp-for="EducationEndDate" class="form-control" />
        <span asp-validation-for="EducationEndDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Spara</button>
    <a asp-action="Create" asp-controller="CV" class="btn btn-secondary mt-3">Avbryt</a>
</form>
