@model CV_v2.Models.WorkExperience


<h2>Skapa ny arbeterfarenhet</h2>

<form asp-action="AddWorkExperience" asp-controller="CV" method="post">
    <div class="form-group">
        <label for="WorkTitle">Namn på jobtitel:</label>
        <input asp-for="WorkTitle" class="form-control" />
        <span asp-validation-for="WorkTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Description">Beskrivning:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="WorkStartDate">Startdatum:</label>
        <input asp-for="WorkStartDate" type="date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="WorkStartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="WorkEndDate">Slutdatum:</label>
        <input asp-for="WorkEndDate" type="date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="WorkEndDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Spara</button>
    <a asp-action="Create" asp-controller="CV" class="btn btn-secondary mt-3">Avbryt</a>
</form>


