@model CV_v2.Models.CV

<h2>Skapa CV</h2>

<form asp-action="Create" asp-controller="CV" method="post">
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label for="Description">Beskrivning:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div id="competences-section">
            <label>Kompetenser:</label>
        <div class="competence-row">
            <select asp-items="@ViewBag.CompetenceOptions" asp-for="Competences" multiple></select>
            <a asp-controller="CV" asp-action="AddCompetence" class="btn btn-primary">Lägg till ny kompetens</a>
        </div>
    </div>
    <div id ="education-section">
        <label>Utbildning:</label>
        <select asp-items="@ViewBag.EducationOptions" asp-for="Educations" multiple></select>
        <a asp-controller="CV" asp-action="AddEducation" class="btn btn-primary">Lägg till ny utbildning</a>
    </div>
    <div id ="workExperience-section">
        <label>Arbetserfarenhet:</label>
        <select asp-items="@ViewBag.WorkExperienceOptions" asp-for="WorkExperiences" multiple></select>
        <a asp-controller="CV" asp-action="AddWorkExperience" class="btn btn-primary">Lägg till ny arbetserfarenhet</a>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Skapa CV</button>
</form>

<!-- Knapp för att navigera till redigera CV -->
<form asp-action="Edit" asp-controller="CV" asp-route-id="@Model.CVId">
    <button type="submit">Redigera CV</button>
</form>

