@model CV_v2.Models.CV

<h2>Redigera CV</h2>

<form asp-action="Edit" asp-controller="CV" method="post">
    <input type="hidden" asp-for="CVId" />
    <input type="hidden" asp-for="UserId" />

    <div>
        <label>Kompetenser:</label>
        <input asp-for="Competences" class="form-control" />
    </div>
    <div>
        <label>Utbildning:</label>
        <input asp-for="Educations" class="form-control" />
    </div>
    <div>
        <label>Arbetserfarenhet:</label>
        <input asp-for="WorkExperiences" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-3">Spara ändringar</button>
</form>
